process {
    executor = 'slurm'
    clusterOptions = '--qos=normal -p jic-short,nbi-short'
}

profiles {
    standard {
        process.executor = 'local'
    }

    slurm {
        process.executor = 'slurm'
        process.clusterOptions = '--qos=normal -p jic-short,nbi-short'
    }

}

params {
    baseDir = System.getProperty("user.dir")
    outputDir = "${baseDir}/results"
    direction = "forward"
}
